<%= form_with(model: catering, local: true) do |form| %>
  <% if catering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catering.errors.count, "error") %> prohibited this catering from being saved:</h2>

      <ul>
      <% catering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit data: { disable_with: false } %>
  </div>
<% end %>