<h3><%= @catering.name %></h3>
<%= @catering.city %>
<%= @catering.description %>
<ol>
<% @daily_meals_today.each do |daily_meal| %>
  <div class="list-group">
    <p class="list-group-item list-group-item-action flex-column align-items-start"><%= daily_meal.meal.name %></p>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">
        <%= daily_meal.meal.ingredients.pluck(:name).join(", ") %>
      </p>
        <%= button_to "Create",
         { action: "create",
          controller:"food_requests",
          daily_meal_id: daily_meal.id,
          watched_catering: @catering.id }  
        %>
    </div>
  </div>
<% end %>

