<h3><%= @catering.name %></h3>
<%= @catering.city %>
<%= @catering.description %>
<ol>
  <% @daily_meals_today.each do |daily_meal| %>
    <li><%= daily_meal.meal.name %>
        <ul>
          <% daily_meal.meal.ingredients.each do |ingr| %>
            <li>
              <%= ingr.name %>
            </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ol>

