<h3>Choose Your diet</h3>
<div class="btn-group btn-group-toggle" >
  <%= form_tag(action: "update_diet") do |f| %>
    <label class="btn btn-secondary active" >
      Meat <%= radio_button_tag(:diets, "Meat") %>
    </label>
    <label class="btn btn-secondary active">
      Vegetarian <%= radio_button_tag(:diets, "Vegetarian") %>
    </label>
    <label class="btn btn-secondary active">
      Vegan <%= radio_button_tag(:diets, "Vegan") %>
    </label>
    <%= submit_tag("uzyj tej", data: { disable_with: false }) %>
  <% end %>
</div>