<div class="container-fluid">
  <h1>Meals offered today</h1>
  <p class="lead">This is the list of <strong><%= @catering.name %></strong>'s meals for <%= Date.today %></p>

  <% @daily_meals.each do |dm| %>
    <div class="list-group">
      <a href="<%= dm.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= dm.meal.name %></h5>
          <small>daily meal</small>
        </div>
        <p class="mb-1"><%= dm.meal.ingredients.pluck(:name).join(", ") %></p>
        <small>Created at: <%= dm.meal.created_at %></small>
      </a>
      <br>
  <% end %>
</div>
