
<div class="container-fluid">
  <h1>Meal list</h1>
  <p class="lead">This is the list of the meals for <strong><%= @catering.name %></strong></p>

  <% @meals.each do |m| %>
    <div class="list-group">

      <a href="<%= catering_meals_path + "/" + m.id.to_s %>" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 ">
          <h5 class="mb-1 mr-auto p-2"><%= m.name %></h5>
          <% @diets.each do | diet | %>
            <h6 class="mb-1"> <%= diet.name.downcase %>:</h6>
            <% if m.diets.include?(diet) %>
                <i class="fas fa-check icon-green p-2"></i>
              <% else %>
                <i class="fas fa-times p-2"></i>
            <% end %>
          <% end %>
        </div>
        <p class="mb-1"><%= m.ingredients.pluck(:name).map(&:downcase).join(", ") %></p>
        <small>Created at: <%= m.created_at %></small>
      </a>
      <br>
  <% end %>
</div>
