<div class="container-fluid">
  <h1>Meal list</h1>
  <p class="lead">This is the list of the meals for <strong><%= @catering.name %></strong></p>

  <% @meals.each do |m| %>
    <div class="list-group">
      <a href="<%= m.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= m.name %></h5>
          <small>meal</small>
        </div>
        <p class="mb-1"><%= m.ingredients.pluck(:name).join(", ") %></p>
        <small>Created at: <%= m.created_at %></small>
      </a>
      <br>
  <% end %>
</div>
