<!DOCTYPE html>
<html>
  <head>
    <title>Zjadliwe</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="alert-wrapper">
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    <div class="notice-wrapper">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
    </div>

    <%= render "layouts/navbar" %>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
